

.slider_h1{
    text-align: center;
    font-size: 30px;
}

/*タイル用*/



#container{
    position: relative;
}

.filter-list {

}

#container li{
    list-style: none;
}

.wook_tile .wook_h2{
    font-size: 19px;
    text-align: left;
}


.wook_tile .wook_img{
    margin: auto;
    width:240px;
    height: 210px;
    border-radius: 2px;
}


.link .wook_p{
    font-size: 14px;
}

.link .wook_by{
    font-size: 13px;
}

#tiles-wrap .link{
    height: 300px;
    width: 250px;
}


.link{
    height: 260px;
}
