.frame ul li{
    color: lightsteelblue;
    background-color: rgba(255,240,1,0.5);
}
.UserComment {
    float: left;
}
#flashMessage{

}
.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
    position: relative;
    /*margin: 3em 0;*/

}
html{
    height: 100%;
}

body{
    height: 100%;
    /*background: url("/cakephp/img/haikei.jpg") no-repeat center center fixed;*/
    background-size: cover;
}
/* Frame */
.frame {
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}
.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;

}
.frame ul li {
    float: left;
    width: 400px;
    height: 400px;
    margin: 0 1px 0 0;
    padding: 0;
    background: #333;
    color: #ddd;
    text-align: center;
    cursor: pointer;

    background-color: rgba(0,159,248,0.5);
}
.frame ul li.active {
    color: #fff;
    background-color: rgba(255,240,1,0.5);

}

img{
    height: 100%;
    width: 100%;
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
}
.scrollbar .handle {
    width: 100px;
    height: 3px;
    background: #292a33;
    cursor: pointer;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Effects */
.effects {
    height: 465px;
    line-height: 200px;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    overflow-y: show;
}
.effects ul {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.effects ul li {
    position: relative;
    margin: 0 -20px;
    -webkit-transform: rotateY(60deg) scale(0.9);
    -ms-transform: rotateY(60deg) scale(0.9);
    transform: rotateY(60deg) scale(0.9);
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
}
.effects ul li.active {
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.effects ul li.active ~ li {
    -webkit-transform: rotateY(-60deg) scale(0.9);
    -ms-transform: rotateY(-60deg) scale(0.9);
    transform: rotateY(-60deg) scale(0.9);
}

.h1{
    font-size: 30px;
    text-align: center;
    background-color: rgba(255,240,1,1);
    color: white;
    margin-top: 0px;
    text-shadow:0px 1px 1px black,0px 0px 1px black,1px 0px 1px black,0px -1px 1px black,-1px -1px 1px black,-1px 0px 1px black;
}

.view_main_title{
    overflow: hidden;
}

.flt_rgt{
    float: right;
    margin-top: -47px;
    margin-right: 10px;
}

.edit{
    margin-left: 1200px;
}

.controls{
    width:100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    height: 40px;
    background-color: rgba(0,159,248,0.5);
}


.controls button{
    text-align: center;
    background-color: rgba(0,159,248,0.8);
    width: 200px;
    height: 40px;
    color: white;
    border: 1px solid;
    border-radius: 4px;
}

.nameofsite{
    float: left;
}

.view_sns{
    margin-top: 3px;
    margin-right: 20px;
    float: right;
}

.slider{
    width: 500px;
}

.effects  ul li{
    width: 500px;
}

.Comment{
    width: 80%;
    color: #843534;
    font-size: 14px;
}
@media screen and (min-width: 769px) {

    .SubTitle{
        margin-top: -34px;
    }

}


@media screen and (max-width:640px){

    .h1{
        height: 47px;
    }

    .nameofsite{
        display: none;
    }

    .frame {
        height: 500px;
        line-height: 250px;
        overflow: hidden;
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 20px;

    }
    .frame ul li {
        float: left;
        width: 300px;
        height: 300px;
        margin: 0 1px 0 0;
        padding: 0;
        background: #333;
        color: #ddd;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,159,248,0.5);
    }
    .frame ul li.active {
        color: #fff;
        background-color: rgba(255,240,1,0.5);

    }

    .controls{
        display: none;
    }

}
